<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=@player.name%></title>
</head>
<body>
  <h2><%=@player.name%></h2>
  <p>Height: <%=@player.height%></p>
  <p>Sex: <%=@player.sex%></p>
  <p>Nickname: <%=@player.nickname%></p>
  <p>Skill: <%=@player.skill%></p>
  <p>Rating: <%=@player.rating%></p>
  <p>Team: <%=@player.team.name%></p>
</body>
</html>