<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=@player.name%></title>
</head>
<body>
  <h2><%=@player.name%></h2>
  <p>Height: <%=@player.height%></p>
  <p>Sex: <%=@player.sex%></p>
  <p>Nickname: <%=@player.nickname%></p>
  <p>Skill: <%=@player.skill%></p>
  <p>Rating: <%=@player.rating%></p>
  <p>Team: <%=@player.team.name%></p>

  <a href="/players/<%=@player.id%>/edit">Edit</a>
  <form action="/players/<%=@player.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</body>
</html>